<!-- <div>
    <label for="usr">Username</label>
    <input type="text" placeholder="username" id="usr" [(ngModel)]="username">
</div>
<div>
    <label for="pwd">Password</label>
    <input type="password" placeholder="password" id="pwd" [(ngModel)]="password">
</div>
<div>
    <label for="ruolo">Ruolo</label>
    <input type="text" placeholder="password" id="ruolo" [(ngModel)]="ruolo">
</div>
<button (click)="login()">Login</button> -->

<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username">
        <p *ngIf="usernameControl.status === 'INVALID' && usernameControl.dirty">Campo username obbligatorio!</p>

    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password">
        <p *ngIf="passwordControl.status === 'INVALID' && passwordControl.dirty">Campo password obbligatorio!</p>
    </div>

    <div>
        <label for="ruolo">Ruolo</label>
        <select id="ruolo" formControlName="ruolo">
                    <option *ngFor="let ruolo of rules" [value]="ruolo">{{ruolo}}</option>
                </select>
    </div>

    <button type="submit" [disabled]="loginForm.status === 'INVALID'">Submit</button>
</form>