.ng-invalid.ng-dirty:not(form) {
    border: 1px solid red;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
    height: 500px;
}

.center {
    grid-column: 2;
    grid-row: 1;
}