<ul *ngIf="currentRoute!='/login'">
    <div>Benvenuto {{user}}</div>
    <ng-container *ngFor="let menuItem of menuList">
        <ng-container *ngIf="showEdit(); else notAdmin">
            <button routerLink='{{menuItem.url}}'>{{menuItem.description}}</button>
        </ng-container>
        <ng-template #notAdmin>
            <ng-container *ngIf="menuItem.id!=3">
                <button routerLink='{{menuItem.url}}'>{{menuItem.description}}</button>
            </ng-container>
        </ng-template>
    </ng-container>
    <!-- <li><button *ngFor="let menuItem of menuList" routerLink='{{menuItem.url}}'>{{menuItem.description}}</button></li> -->
    <button (click)="logout()">Logout</button>
</ul>